.container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.container img {
	width: 100%;
	height: auto;
	filter: grayscale(95%);
	border: 4px inset cyan;
}
.container img:hover{
	width: 101%;
	height: auto;
	filter: grayscale(00%);
}