*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body, html{
	font-size: 20px;
	font-weight: lighter;
	color: red;
	text-rendering: optimizeLegibility;
}
body{
	overflow-x: hidden;
}
/*************************************************************   Header   ***************************************************************/
.buttons{
	background-image: linear-gradient(rgba(22, 181, 89,1), rgba(43, 158, 2,0.7));
}
.left_buttons:hover {
	background-image: linear-gradient(rgba(0, 0, 0,0), rgba(0, 0, 0,0.1));
	transition: 0.5s all;
}
.buttons_ul{
	padding: 1%;
}
.buttons_ul a{
	text-decoration: none;
	color: white;
}
.buttons_ul li{
	display: inline-block;
	padding: 0 2% 0 2%;
	
}
.right_button{
	float: right;
}
/*************************************************************   Cover   ***************************************************************/
.cover{
	background-image: linear-gradient(rgba(158, 2, 124,0.8), rgba(201, 0, 0,0.9));
	height: 60vh;
	width: auto;
	display: flex;
}
.cover h3{
	color: white;
	font-size: 180%;
	margin: auto auto;
}
/*************************************************************   Body   ***************************************************************/
.body{
	background-color: cyan;
}
.images{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	padding: 1%;
}
.body_image img{
	width: 100%;
}
.body_image{
	background-color: #444;
	padding: 30%;
	margin: 5%;
	border: 1px solid yellow;
}
.body_image:hover{
	box-shadow: 2px 2px 2px #444;
	transition: 0.3s all;
}
/*************************************************************   Footer   ***************************************************************/
.footer{
	background-image: linear-gradient(rgb(106, 5, 247,0.6),rgb(90, 68, 120,0.4));
}
.designer_name p{
	padding: 0.6%;
	text-align: center;
}
.designer_name p:hover{
	transition: 0.3s all;
	color: white;
	background-image: linear-gradient(rgb(0,0,0,0.2), rgb(0,0,0,0.4));

}